:root{
    /* TEXT */
    --font-regular: 'Poppins', sans-serif;
    --extra-bold: 800 ;
    --bold: 700 ;
    --thin: 100;

    /* COLORS */
    --eggshell: #ede7d9;
    --goldenrod: #d5a021;
    --papaya-whip: #fff1d2;
    --dark-lava: #4b4237;
    --off-white: rgb(236, 236, 236);

}

body{
    background-color: var(--eggshell) !important;
    font-weight: 500;
    font-family: var(--font-regular);
}

.bckgd-img{
    background-image: url('../storage/img/Backdrops/Mesh-overlayed.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* BUTTONS AND LINKS */
.--btn-custom{
    background-color: var(--goldenrod);
    color: var(--papaya-whip);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.--btn-custom:hover{
    background-color: var(--papaya-whip);
    color: var(--goldenrod);
}

.--btn-custom-dark{
    background-color: var(--dark-lava);
    color: var(--goldenrod);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.--btn-custom-dark:hover{
    background-color: var(--goldenrod);
    color: var(--dark-lava);
}

.--accordion-btn{
    background-color: rgba(241, 241, 241, 0.578);
    color: var(--dark-lava);
    transition: all 0.3s ease;
}

.--accordion-btn:hover{
    background-color: rgba(241, 241, 241, 0.808);
    color: var(--goldenrod);
}

.--accordion-btn:focus{
    color: var(--goldenrod);
}

.--a-btn-custom{
    text-decoration: none;
    background-color: var(--goldenrod);
    color: var(--papaya-whip);
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-weight: 600;
    
}

.--a-btn-custom:hover{
    text-decoration: none;
    background-color: var(--papaya-whip);
    color: var(--goldenrod);
    /* font-weight: 600; */   
}

.--a-btn-custom-dark{
    text-decoration: none;
    background-color: var(--goldenrod);
    color: var(--dark-lava);
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-weight: 600;
}

.--a-btn-custom-dark:hover{
    text-decoration: none;
    background-color: var(--dark-lava);
    color: var(--goldenrod);
    /* font-weight: 600; */
    
}

.--a-links-light{
    text-decoration: none;
    color: var(--eggshell) ;
    transition: all 0.3s ease;
}

.--a-links-light:hover{
    text-decoration: none;
    color: var(--goldenrod);
}

.--a-links-dark{
    text-decoration: none;
    color: var(--goldenrod);
    transition: all 0.3s ease;
}

.--a-links-dark:hover{
    color: var(--papaya-whip);
}

.--card-links{
    text-decoration: none;
    color: var(--papaya-whip);
    transition: all 0.3s ease;
}

.--card-links:hover{
    text-decoration: underline 2px solid var(--goldenrod);
    color: var(--papaya-whip);
}

.--btn-goldenrod{
    background-color: var(--goldenrod);
    color: var(--dark-lava);
    transition: all 0.3s ease;
}

.--btn-goldenrod:hover{
    background-color: var(--dark-lava);
    color: var(--goldenrod);
    
}

.--btn-goldenrod-papaya{
    background-color: var(--goldenrod);
    color: var(--dark-lava);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.--btn-goldenrod-papaya:hover{
    background-color: var(--papaya-whip);
    color: var(--goldenrod);
}

.--file-label-btn-goldenrod{
    background-color: var(--goldenrod);
    color: var(--dark-lava);
    padding: 7px 15px;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.--file-label-btn-goldenrod:hover{
    cursor: pointer;
    background-color: var(--papaya-whip);
    color: var(--dark-lava);
}

.--card-links-dark{
    text-decoration: none;
    color: var(--dark-lava);
    transition: all 0.3s ease;
}

.--card-links-dark:hover{
    text-decoration: underline 2px solid var(--goldenrod);
    color: var(--dark-lava);
}

/* TEXT AND BACKGROUND COLORS */

.--card-header-bg{ background-color: var(--goldenrod) !important;}
.--card-body-bg{ background-color: var(--dark-lava) !important;}
.--card-body-papaya{ background-color: var(--papaya-whip);}

.--heading-color{ color: var(--papaya-whip);}

.--text-color-light{
    color: var(--eggshell);
}

.--text-color-dark{
    color: var(--dark-lava);
}

.--text-color-papaya-whip{
    color: var(--papaya-whip);
}

.--bg-translucent{
    background-color: rgba(75, 66, 55, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.--bg-translucent-white{
    background-color: rgba(255, 255, 255, 0.377);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
}

.--text-color-darker{
    color: #302a23;
}

.--dark-lava-bg{
    background-color: var(--dark-lava);
}

.--goldenrod-bg{
    background-color: var(--goldenrod);
}

.--papaya-whip-bg{
    background-color: var(--papaya-whip);
}

.--danger-bg{
    background-color: var(--danger);
}

.--success-bg{
    background-color: var(--success);
}

.--search-bar{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.452);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
}

.--search-bar:focus{
    background-color: rgba(255, 255, 255, 0.452);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
    border-color: var(--goldenrod);
}

.--card-bg-light{
    background-color: rgba(241, 241, 241, 0.425);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px)
}

.--text-color-goldenrod{
    color: var(--goldenrod);
}

/* FORMS  */

.--input-text-box{
    background-color: var(--eggshell);
    border-radius: 15px;
    border: 0px;
}

.--input-text-box:focus{
    background-color: var(--eggshell);
    border-color: rgba(213, 160, 33, 0.5);
    box-shadow: 3px 3px 50px rgba(213, 160, 33, 0.5);
}

/* OTHER CUSTOM SETTINGS */
.--custom-card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
}

.--users{
    margin-top: 10px;
    margin-bottom: 30px;
}

.--users .--position {
    margin-bottom: 20px;
    font-size: 12px;
}

.--users .--edit-profile, .--users .--add-expertise{
    border: none;
    padding: 10px 15px;
    margin: 15px 5px 0;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--papaya-whip);
    background: var(--goldenrod);
    transition: all 0.5s ease-in-out;
}

.--users .--edit-profile:hover, .--users .--add-expertise:hover{
    color: var(--goldenrod);
    background: var(--papaya-whip);
}

.--separator{
    width: 100%;
    height: 2px;
    margin: 10px 0 20px;
    background-color: var(--goldenrod);
    color: var(--papaya-whip);
    
}

.row .d-flex .--details{
    margin: 10px 20px;
}

.d-flex .--details{
    width: 100%;
}

.d-flex .--icons i{
    color: #d5a021;
    font-size: 20px;
    font-weight: bold;
}

.d-flex .--info{
    font-size: 12px;
}

.d-flex .--about{
    margin: 0 10px;
}

.--about > h1{
    font-size: 20px;
    font-weight: 600;
}

.--about > p{
    margin: 10px 0 ;
    font-size: 12px;
    text-align: justify;
}

.--expertise{
    margin-right: 10px;
}

.--expertise h1{
    font-size: 20px;
    font-weight: 600;
}

.--fields{
    width: 100%;
    /* margin: 10px 10px 0; */
    margin: 10px 5px 0 0;
}

.--delete{
    border: none;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--goldenrod);
    transition: all 0.5s ease-in-out;
}

.--delete:hover{
    color: #ff7171;
}

.--dashboard{
    width: 100%;
    height: 100%;
}

.--dashboard h5{
    margin: 5px;
    font-size: 18px;
    font-weight: 500;
}
.--search-link{
    border: none;
    padding: 8px 25px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--papaya-whip);
    background: var(--goldenrod);
    transition: all 0.5s ease-in-out;
}

.--search-link:hover{
    text-decoration: none;
    color: var(--goldenrod);
    background: var(--papaya-whip);;
}

.--sent-request-tbl, .--received-request-tbl{
    width: 100%;
    font-size: 12px;
}

.--sent-request-tbl th, .--received-request-tbl th{
    padding: 10px;
    text-align: center;
    border-top: 1px solid var(--goldenrod);
    border-bottom: 1px solid var(--goldenrod);
}

.--sent-request-tbl td, .--received-request-tbl td{
    padding: 20px 0 0;
    text-align: center;
}

.--sent-request-tbl td a{
    border: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #d5a021;
    transition: all 0.5s ease-in-out;
}

.--sent-request-tbl td a:hover{
    color: #ff7171;
}

.--received-request-tbl td a{
    border: none;
    margin: 0 10px 0 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #d5a021;
    transition: all 0.5s ease-in-out;
}

.--received-request-tbl td .--confirm:hover{
    color: #71ff90;
}

.--received-request-tbl td .--decline:hover{
    color: #ff7171;
}












