:root{
    /* TEXT */
    --font-regular: 'Poppins', sans-serif;
    --extra-bold: 800 ;
    --bold: 700 ;
    --thin: 100;

    /* COLORS */
    --eggshell: #ede7d9;
    --goldenrod: #d5a021;
    --papaya-whip: #fff1d2;
    --dark-lava: #4b4237;
    /* --danger: rgb(124, 40, 40); */
    --danger: rgb(146, 46, 46);
    --success: rgb(132, 179, 24);
    --off-white: rgb(236, 236, 236);

}

body{
    background-color: var(--eggshell) !important;
    font-weight: 500;
    font-family: var(--font-regular);
}

.bckgd-img{
    background-image: url('../storage/img/Backdrops/Mesh.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    /* position: absolute; */
}

.--card-header-bg{ background-color: var(--goldenrod) !important;}
.--card-body-bg{ background-color: var(--dark-lava) !important;}
.--card-body-papaya{ background-color: var(--papaya-whip);}

.--heading-color{ color: var(--papaya-whip);}

.--btn-custom{
    background-color: var(--goldenrod);
    color: var(--papaya-whip);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.--btn-custom:hover{
    background-color: var(--papaya-whip);
    color: var(--goldenrod);
}

.--btn-custom-dark{
    background-color: var(--dark-lava);
    color: var(--goldenrod);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.--btn-custom-dark:hover{
    background-color: var(--goldenrod);
    color: var(--dark-lava);
}

.--accordion-btn{
    background-color: rgba(241, 241, 241, 0.578);
    color: var(--dark-lava);
    transition: all 0.3s ease;
}

.--accordion-btn:hover{
    background-color: rgba(241, 241, 241, 0.808);
    color: var(--goldenrod);
}

.--a-btn-custom{
    text-decoration: none;
    background-color: var(--goldenrod);
    color: var(--papaya-whip);
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-weight: 600;
    
}

.--a-btn-custom:hover{
    text-decoration: none;
    background-color: var(--papaya-whip);
    color: var(--goldenrod);
    /* font-weight: 600; */   
}

.--a-btn-custom-dark{
    text-decoration: none;
    background-color: var(--goldenrod);
    color: var(--dark-lava);
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-weight: 600;
}

.--a-btn-custom-dark:hover{
    text-decoration: none;
    background-color: var(--dark-lava);
    color: var(--goldenrod);
    /* font-weight: 600; */
    
}

.--text-color-light{
    color: var(--eggshell);
}

.--text-color-dark{
    color: var(--dark-lava);
}

.--a-links-light{
    text-decoration: none;
    color: var(--eggshell) ;
    transition: all 0.3s ease;
}

.--a-links-light:hover{
    text-decoration: none;
    color: var(--goldenrod);
}

.--a-links-dark{
    text-decoration: none;
    color: var(--goldenrod);
    transition: all 0.3s ease;
}

.--a-links-dark:hover{
    color: var(--papaya-whip);
}
.--bg-translucent{
    background-color: rgba(75, 66, 55, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.--bg-translucent-white{
    background-color: rgba(255, 255, 255, 0.377);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
}

.--text-color-darker{
    color: #302a23;
}

.--backdrop{
    z-index: -1;
    opacity: 0.2;
    width: 100%;
    height: auto;
    position: fixed;
    overflow-x: hidden;
    
}

/* .--overlay{
    z-index: -1;
    width: 100%;
    position: absolute;
    background-color: rgba(237,231,217, 0.8);
    height:100vw;
    width: 100%;
} */

.--dark-lava-bg{
    background-color: var(--dark-lava);
}

.--goldenrod-bg{
    background-color: var(--goldenrod);
}

.--papaya-whip-bg{
    background-color: var(--papaya-whip);
}

.--card-links{
    text-decoration: none;
    color: var(--papaya-whip);
    transition: all 0.3s ease;
}

.--card-links:hover{
    text-decoration: underline 2px solid var(--goldenrod);
    color: var(--papaya-whip);
}

.--btn-goldenrod{
    background-color: var(--goldenrod);
    color: var(--dark-lava);
    transition: all 0.3s ease;
}

.--btn-goldenrod:hover{
    background-color: var(--dark-lava);
    color: var(--goldenrod);
    
}

.--btn-goldenrod-papaya{
    background-color: var(--goldenrod);
    color: var(--dark-lava);
    border-radius: 30px;
    transition: all 0.3s ease;
}

.--btn-goldenrod-papaya:hover{
    background-color: var(--papaya-whip);
    color: var(--goldenrod);
}

.--danger-bg{
    background-color: var(--danger);
}

.--success-bg{
    background-color: var(--success);
}

.--search-bar{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.452);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
}

.--search-bar:focus{
    background-color: rgba(255, 255, 255, 0.452);
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.5);
    border-color: var(--goldenrod);
}

.--card-links-dark{
    text-decoration: none;
    color: var(--dark-lava);
    transition: all 0.3s ease;
}

.--card-links-dark:hover{
    text-decoration: underline 2px solid var(--goldenrod);
    color: var(--dark-lava);
}

.--card-bg-light{
    background-color: rgba(241, 241, 241, 0.425);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px)
}

.--input-text-box{
    background-color: var(--eggshell);
    border-radius: 15px;
    border: 0px;
}

.--input-text-box:focus{
    background-color: var(--eggshell);
    border-color: rgba(213, 160, 33, 0.5);
    box-shadow: 3px 3px 50px rgba(213, 160, 33, 0.5);
}

.--text-color-goldenrod{
    color: var(--goldenrod);
}

.--file-label-btn-goldenrod{
    background-color: var(--goldenrod);
    color: var(--dark-lava);
    padding: 5px 10px;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.--file-label-btn-goldenrod:hover{
    cursor: pointer;
    background-color: var(--papaya-whip);
    color: var(--dark-lava);
}



